<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-br">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<head th:replace="~{base :: head}"></head>
	<body id="backforall">
		<div th:replace="~{base :: logo}"></div>
	
		<div class="container">
			<div th:replace="~{base :: titulo('Meus Repositórios')}" ></div>
		
			<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
				<div class="navbar-nav">
					<a th:classappend="${status} == null ? 'active'" class="nav-item nav-link" th:href="@{/usuario/obj}">Todos</a>
					<a th:classappend="${status} == 'desenvolvimento' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/objrep/desenvolvimento}">DESENVOLVIMENTO</a>
					<a th:classappend="${status} == 'terminado' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/objrep/terminado}">TERMINADO</a>
					<a th:classappend="${status} == 'desconhecido' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/objrep/desconhecido}">DESCONHECIDO</a>
					<a th:classappend="${status} == 'excluido' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/objrep/excluido}">EXCLUIDO</a>
					<a th:classappend="${status} == 'ativado' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/objapi/ativado}">ATIVADO</a>
					<a th:classappend="${status} == 'desativado' ? 'active'" class="nav-item nav-link" th:href="@{/usuario/objapi/desativado}">DESATIVADO</a>
				</div>
				<a href="/objrep/formulario"><button class="btn btn-outline-secondary my-2 my-sm-0">Novo Rep</button></a>
				<a href="/objapi/formularioApi"><button class="btn btn-outline-secondary my-2 my-sm-0">Nova API</button></a>
			</nav>
		
			<div class="cardcolor card mb-3" th:each="objrep : ${objreps}">
				<th:block th:switch="${objrep.status.name()}">
					<div th:case="'DESENVOLVIMENTO'" class="card-header alert-warning" th:text="${objrep.nomeRep}">Nome do Repositório</div>
					<div th:case="'TERMINADO'" class="card-header alert-success" th:text="${objrep.nomeRep}">Nome do Repositório</div>
					<div th:case="'DESCONHECIDO'" class="card-header alert-dark" th:text="${objrep.nomeRep}">Nome do Repositório</div>
					<div th:case="'EXCLUIDO'" class="card-header alert-dark" th:text="${objrep.nomeRep}">Nome do Repositório</div>
				</th:block>
				
				<div class="cardcolor card-body">
					<div class="row">
						<div class="col-12 col-sm-8  mb-3">		
							<div>Repositório</div>
							<div> <input class="form-control" th:value="${objrep.urlRep}" value="url do objrep"/></div>
							
							<div>Descrição</div>
							<div>
								<textarea class="form-control" th:text="${objrep.descricao}">descrição do Repositório</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" th:src="${objrep.urlImagem}" src=""/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="cardcolor card mb-3" th:each="objapi : ${objapis}">
				<th:block th:switch="${objapi.status.name()}">
					<div th:case="'ATIVADO'" class="card-header alert-warning" th:text="${objapi.nomeApi}">Nome da API</div>
					<div th:case="'DESATIVADO'" class="card-header alert-success" th:text="${objapi.nomeApi}">Nome da API</div>
				</th:block>
				
				<div class="cardcolor card-body">
					<div class="row">
						<div class="col-12 col-sm-8  mb-3">		
							<div>API</div>
							<div> <input class="form-control" th:value="${objapi.urlApi}" value="url do objapi"/></div>
							
							<div>Descrição</div>
							<div>
								<textarea class="form-control" th:text="${objapi.descricao}">descrição da API</textarea>
							</div>
						</div>
						<div class="col-12 col-sm-4">
							<div>
								<img class="img-thumbnail" th:src="${objapi.urlImagemApi}" src=""/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>